*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.logo{
    font-size: 4vw;
    font-weight: bold;
}
nav h4{
   display: inline-block;
   padding: 2vw;
   gap: 4vw;
    font-weight: bold;
    font-size: 2vw;
}
 .container nav i{
    font-size: 2vw;
    display: none;
}
/* -----------------main------------ */
.containers{
    display: flex;
     padding-top: 5vw;

}
.col1{
    height: 100%;
    width: 100%;

}
.col1 h2{
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 2vw;

}

.col1 p{
    font-size: 2.5vw;
    margin-bottom: 3vw;
    line-height: 1.5;
}
.btn{
    padding: 1vw 2vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5vw;
   
}
.col2{
    height: 100%;
    width: 100%;
    padding: 2vw;
   

}
.col2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}



@media (max-width: 668px){
    nav h4{
        display: none;
    }
    .container nav i{
        display: block;
        font-size: 1.5vw;
    }
     .logo{
        font-size: 3.2vw;
        font-weight: 800;

 
    }
    .container{
        padding: 2.5vw 5vw;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
    .col1{
        padding: 1vw;

    }
    .col1 h2{
        font-size: 3vw;
        text-align: center;
        margin-bottom: 2vw;
    }
    .col1 p{
        font-size: 2vw;
        margin-bottom: 3vw;
        line-height: 1.3;
        text-align: center;
    }
    .btn{
        font-size: 1.2vw;
        padding: 1vw 1vw;
        display: block;
        margin: auto;
        margin-bottom: 4vw;
    }
    
    .containers{
        flex-direction: column;
        align-items: center;
        padding-top: 5vw;
    }
}
